<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://pppfkp-university-java.database.windows.net:1433;database=JAVA_BANK;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;</property>
        <property name="hibernate.connection.username">pppfkp@pppfkp-university-java</property>
        <property name="hibernate.connection.password">Password2137</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.c3p0.timeout">0</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="com.pppfkp.javabank.Data.Models.User"></mapping>
        <mapping class="com.pppfkp.javabank.Data.Models.Account"></mapping>
        <mapping class="com.pppfkp.javabank.Data.Models.AccountType"></mapping>
        <mapping class="com.pppfkp.javabank.Data.Models.Transaction"></mapping>
        <mapping class="com.pppfkp.javabank.Data.Models.MoneyRequest"></mapping>
    </session-factory>
</hibernate-configuration>